<%- include("partials/header.ejs"); -%>



<div class="card bg-secondary">
    <div class="card-body">

        <form action="/home" method="post">

            <div style="text-align:center" class="text-white" >
                <h4><%=QuoteWrittenBy%> has successfully written the inspiring quote</h4>
            </div>
            
            <div style="text-align:center; background-color: aquamarine;">
                <h3>"<%=QuoteWritten%>"</h3>
            </div>
        
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-house"></i></button>
        
        </form>


    </div>
  </div>







<%- include("partials/footer.ejs"); -%>